body{
    background-color: #111111;
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
h1,h2{
    margin: 0;
}
.navbar{
   background-color:#222222;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#logo:hover {
color: #635985;
}
.nav-link{
    
  font-family: serif;  
        color: aliceblue;
        /* position: relative;
        left: 880px;   */
}
.nav-link:hover{
    color: #635985;
}
.na-items{
    display: flex;
    justify-content: end;
    position: relative;
    right: 10rem;
}
.skill-area{
    background: #191919;
    background-size: cover;
    height: 80vh;
    font-family: 'Poppins', sans-serif ;
    padding: 80px 0 80px 0;
}.skill-head-txt{
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif ;
    
}


.bars-area{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: auto;
    justify-content: space-between;
    padding: 10px 80px 0 80px;
    transition: all 0.9s ease;
    
}
/* for bars */



.skill-bars{
  background: transparent;
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 18px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.info{
    color: #fff;
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #635985;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.c span{
    width: 80%;
}
.bar .progress-line.java span{
  width: 83%;
}
.bar .progress-line.python span{
  width: 70%;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 90%;
}
.bar .progress-line.javascript span{
  width: 85%;
}
.bar .progress-line.react span{
    width: 75%;
}
.bar .progress-line.firebase span{
    width: 80%;
}
.bar .progress-line.photoshop span{
    width: 95%;
}
.bar .progress-line.illustrator span{
  width: 85%;
}
.bar .progress-line.after-effect span{
  width: 85%;
}
.bar .progress-line.premiere span{
  width: 93%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.c span::after{
  content: "80%";
}
.progress-line.java span::after{
  content: "83%";
}
.progress-line.python span::after{
  content: "70%";
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.javascript span::after{
  content: "85%";
}

  .progress-line.react span::after{
    content: "75%";
  }
  .progress-line.firebase span::after{
    content: "80%";
  }
  .progress-line.photoshop span::after{
    content: "95%";
  }
  .progress-line.illustrator span::after{
    content: "85%";
  }
  .progress-line.after-effect span::after{
    content: "85%";
  }
  .progress-line.premiere span::after{
    content: "93%";
  }
@media only screen and (max-width:660px) {
  .progress-line span::after{
    display: none;
  }
}
@media only screen and (max-width:1170px) {
  .bars-area{
    padding: 10px 20px 0 20px;
    transition: all 0.9s ease;
    
}
}
  /* for sm */
  
@media only screen and (max-width:800px) {
  .bars-area{
    padding: 10px 10px 0 10px;
    
}
}
@media only screen and (max-width:500px) {
  .bars-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
}.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 19px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
.skill-head-txt{
  font-size: 23px;
}

}
@media only screen and (max-width:370px) {
  .skill-head-txt{
    font-size: 21px;
  }.bars-area{
    padding: 5px 1px 0 1px;
}
}
@media only screen and (max-width:280px) {
  .skill-bars .bar .info span{
    font-size: 13px;
  }.skill-head-txt{
    font-size: 18px;
  }
}


.contact-me-allSer{
    margin: 10px auto auto auto ;
    width: 200px  ;
    height: 60px ;
    background: transparent ;
    border: 2px solid #635985 ;
    border-radius: 1rem ;
}
.contact-me-allSer button{
    width: 100% ;
    height: 100%;
    background: transparent;
    border: none ;
    color: #635985;
    font-size: 18px;
    border-radius: 0.7rem;
    transition: all 0.3s ease;
}
.contact-me-allSer button:hover{
    background: #635985;
    border: 2px solid #635985;
    color: #111;
}


footer{
    width: 100%;
    height: auto;
    padding: 30px 0 20px 0;
    background-size: cover;
}

.footer-area{
    color: #b2b4b6;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}.footer-icons a{
    color: #b2b4b6;
    text-decoration: none;
}
.copyright{
    color: #b2b4b6;
    padding: 10px 0 0 0;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}.footer-area i{
    margin: 10px 5px 0px 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footer-area i:hover{
    color: #443C68;
    transform: scale(1.1);
    transition: all 0.2s ease;
}
@media only screen and (max-width: 800px) {
    .copyright{
        padding: 10px 0 0 0;
        font-size: 14px;
        letter-spacing: 0.2px;
    }.footer-area i{
        margin: 10px 5px 0px 5px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 600px) {
    .copyright{
        padding: 6px 0 0 0;
        font-size: 13px;
        letter-spacing: 0.1px;
    }.footer-area i{
        margin: 6px 5px 0px 5px;
        font-size: 17px;
    }
}
@media only screen and (max-width: 500px) {
    .copyright{
        padding: 5px 0 0 0;
        font-size: 12px;
        letter-spacing: 0.1px;
    }.footer-area i{
        margin: 6px 5px 0px 5px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 400px) {
    .copyright{
        padding: 3px 0 0 0;
        font-size: 11.5px;
        letter-spacing: 0.1px;
    }.footer-area i{
        margin: 4px 5px 0px 5px;
        font-size: 15px;
    }footer{
        padding: 20px 0 10px 0;
    }
}